extends _layouts/base

block title
  title 关于我们

block content
  include _modules/head-small

  .about-content
    .about-time
      .about-time-each.first.time-left
        .time-box
          .title 事件
          p 2015-04-10
        p 的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个
      .about-time-each.second.time-right
        .time-box
          .title 事件
          p 2015-04-10
        p 的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个
      .about-time-each.third.time-left
        .time-box
          .title 事件
          p 2015-04-10
        p 的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个
      .about-time-each.fourth.time-right
        .time-box
          .title 事件
          p 2015-04-10
        p 的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个
      .about-time-each.fifth.time-left
        .time-box
          .title 事件
          p 2015-04-10
        p 的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个
    .about-us
      img.about-us-bg(src="images/back-2.png")
      .about-us-content
        p 的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的
        .about-us-content-right
          .title 关于我们<br/>about us
          .clear-fix
          .img
            img(src="images/exchange-1.jpg")
    .about-strength
      .about-strength-title
        .title-big 我们的实力
        .title-small our strength
      .about-strength-eachs
        .about-strength-each
          .about-strength-each-img
            img(src="images/exchange-1.jpg")
          h3 标题
          p 官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个
        .about-strength-each
          .about-strength-each-img
            img(src="images/exchange-1.jpg")
          h3 标题
          p 官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个
        .about-strength-each
          .about-strength-each-img
            img(src="images/exchange-1.jpg")
          h3 标题
          p 官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个
        .clear-fix
          
      

  include _modules/footer