extends _layouts/base

block title
  title 关于我们

block content
  include _modules/head-small

  .about-content
    .about-time
      .about-time-each.first
        .title 事件
        p 2015-04-10
      .about-time-each.second
        .title 事件
        p 2015-04-10
      .about-time-each.third
        .title 事件
        p 2015-04-10
      .about-time-each.fourth
        .title 事件
        p 2015-04-10
      .about-time-each.fifth
        .title 事件
        p 2015-04-10
    .about-us
      .about-us-content
        p dsfsf
        .about-us-content-right
          .title 关于我们<br/>about us
          .img
    .about-strength
      .about-strength-title 我们的实力<br/>our strength
      .about-strength-eachs
        .about-strength-each
          .about-strength-each-img
          h3 标题
          p sdfsf
        .about-strength-each
          .about-strength-each-img
          h3 标题
          p sdfsf
        .about-strength-each
          .about-strength-each-img
          h3 标题
          p sdfsf
        .clear-fix
          
      

  include _modules/footer