extends _layouts/base

block title
  title 行业交流

block content
  include _modules/head-small

  .exchange-content
    - for(var k = 0; k< 6; k++){
      .exchange-each
        .each-img-box
          img(src="images/exchange-#{k+1}.jpg")
        .each-day 02<br/>May
        .title 实打实大苏打实打实
        p 整个脚本标签（在它之下一切都缩进）是要经过原料通过而毋须进一步解析。玉不HTML模板而不是HTML模板嵌套模板的JavaScript
    - }
    .clear-fix
  .exchange-btn-next 翻页

  include _modules/footer