extends _layouts/base

block title
  title 联系我们

block content
  include _modules/head-small

  .contact
    .contact-content
      .contact-content-name 留言板
      form
        .contact-input
          .title 
            label(for='name') 姓名:
          input#name(type='text' placeholder='姓名')
        .contact-input
          .title 
            label(for='email') 邮箱:
          input#email(type='text' placeholder='邮箱')
        .contact-input
          .title
            label(for='content') 留言
          textarea#content(row='3')
        .contact-btn-submit 提交
      .contact-content-map
        img(src="images/map.png")

    .contact-address
      .contact-address-each
        .title 联系地址
        .img
        .address 浙江省嘉兴市南湖区
      .contact-address-each
        .title 联系地址
        .img
        .address 浙江省嘉兴市南湖区
      .clear-fix

  include _modules/footer