.clear-fix {
  clear: both; }

.about-content {
  width: 100%;
  background-color: #F2F2F2; }
  .about-content .about-time {
    width: 1000px;
    height: 760px;
    margin: auto; }
    .about-content .about-time:before {
      display: block;
      width: 2px;
      height: 720px;
      background-color: #D1D1D1;
      position: absolute;
      left: 50%;
      top: 20px;
      content: ''; }
    .about-content .about-time .about-time-each {
      text-align: center;
      position: absolute;
      width: 100px; }
      .about-content .about-time .about-time-each .title {
        font-size: 28px; }
      .about-content .about-time .about-time-each.first, .about-content .about-time .about-time-each.second, .about-content .about-time .about-time-each.third {
        left: 350px;
        top: 30px; }
      .about-content .about-time .about-time-each.second {
        top: 320px; }
      .about-content .about-time .about-time-each.third {
        top: 650px; }
      .about-content .about-time .about-time-each.fourth, .about-content .about-time .about-time-each.fifth {
        right: 300px;
        top: 180px; }
      .about-content .about-time .about-time-each.fifth {
        top: 480px; }
  .about-content .about-us {
    width: 100%;
    height: 365px;
    background-color: #C9C9C9; }
    .about-content .about-us .about-us-content {
      width: 1000px;
      height: 100%;
      margin: auto;
      padding: 100px 450px 100px 0; }
      .about-content .about-us .about-us-content .about-us-content-right {
        width: 360px;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        padding-top: 30px; }
        .about-content .about-us .about-us-content .about-us-content-right .title {
          font-size: 30px; }
        .about-content .about-us .about-us-content .about-us-content-right .title-second {
          font-size: 24px; }
        .about-content .about-us .about-us-content .about-us-content-right .img {
          width: 355px;
          height: 190px;
          background-color: #7D7D7D;
          margin-top: 20px; }
  .about-content .about-strength {
    width: 1000px;
    margin: auto; }
    .about-content .about-strength .about-strength-title {
      padding: 90px 0;
      text-align: center;
      font-size: 30px; }
    .about-content .about-strength .about-strength-each {
      width: 300px;
      height: 400px;
      float: left;
      margin-right: 50px; }
      .about-content .about-strength .about-strength-each:nth-child(3n) {
        margin-right: 0; }
      .about-content .about-strength .about-strength-each .about-strength-each-img {
        width: 100%;
        height: 256px;
        background-color: #C9C9C9; }

.pd-block {
  width: 1000px;
  margin: auto;
  padding-top: 35px; }
  .pd-block:nth-last-child(1) {
    padding-bottom: 24px; }
  .pd-block .pd-block-title {
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #6b6b6b;
    font-size: 22px;
    font-weight: bolder; }
    .pd-block .pd-block-title .pd-block-title-btn {
      float: right;
      width: 80px;
      height: 32px;
      line-height: 32px;
      margin-top: 2px;
      background-color: #6b6b6b;
      text-align: center;
      color: #2E2E2E; }
  .pd-block .pd-block-eachs .pd-block-each {
    width: 235px;
    height: 290px;
    float: left;
    padding: 175px 10px 10px 10px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: #C9C9C9; }
    .pd-block .pd-block-eachs .pd-block-each:nth-child(4n) {
      margin-right: 0; }
    .pd-block .pd-block-eachs .pd-block-each .pd-detail-img {
      width: 215px;
      height: 146px;
      background-color: #E7E7E7;
      position: absolute;
      left: 10px;
      top: 10px; }
    .pd-block .pd-block-eachs .pd-block-each .pd-detail-text {
      height: 70px;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #2F2F2F; }
      .pd-block .pd-block-eachs .pd-block-each .pd-detail-text h4, .pd-block .pd-block-eachs .pd-block-each .pd-detail-text h5, .pd-block .pd-block-eachs .pd-block-each .pd-detail-text p, .pd-block .pd-block-eachs .pd-block-each .pd-detail-text small {
        margin: 2px 0; }
      .pd-block .pd-block-eachs .pd-block-each .pd-detail-text h4 {
        font-size: 16px; }
      .pd-block .pd-block-eachs .pd-block-each .pd-detail-text h5 {
        font-size: 14px; }
      .pd-block .pd-block-eachs .pd-block-each .pd-detail-text p {
        font-size: 12px; }
    .pd-block .pd-block-eachs .pd-block-each .btn-more {
      width: 70px;
      height: 30px;
      background-color: #6b6b6b;
      position: absolute;
      left: 10px;
      bottom: 10px;
      text-align: center;
      line-height: 30px;
      color: #CDCDCD; }

body {
  color: #6b6b6b; }

div {
  position: relative; }

.test-t {
  width: 200px;
  height: 50px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -25px;
  line-height: 50px;
  text-align: center;
  font-size: 24px; }
  .test-t.black {
    color: #6b6b6b; }

.nav {
  width: 100%;
  height: 630px;
  background-color: #e2e2e2; }
  .nav.nav-small {
    height: 450px;
    overflow: hidden; }
  .nav .nav-logo {
    width: 1000px;
    height: 110px;
    margin: auto;
    z-index: 10; }
    .nav .nav-logo .nav-logo-icon {
      float: left;
      margin-top: 25px;
      color: #838383; }
      .nav .nav-logo .nav-logo-icon .big {
        height: 36px;
        line-height: 36px;
        font-size: 34px; }
      .nav .nav-logo .nav-logo-icon .small {
        font-size: 16px; }
    .nav .nav-logo .nav-logo-search {
      margin-top: 35px;
      width: 290px;
      height: 36px;
      color: #9D9D9D;
      border: 2px solid #A9A9A9;
      padding: 0 0 0 20px;
      float: right;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      border-radius: 18px; }
      .nav .nav-logo .nav-logo-search input {
        background: none;
        border: none;
        outline: none;
        width: 200px;
        height: 32px; }
      .nav .nav-logo .nav-logo-search .search-icon {
        height: 22px;
        width: 40px;
        margin-top: 5px;
        padding-left: 10px;
        float: right;
        color: #a4a4a4;
        border-left: 1px solid #cccccc; }
  .nav .nav-menu {
    width: 1000px;
    height: 535px;
    padding-top: 45px;
    margin: auto;
    background-color: #6b6b6b;
    position: relative;
    overflow: hidden;
    z-index: 10; }
    .nav .nav-menu ul.nav-menu-row {
      width: 100%;
      height: 45px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #999999;
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 10; }
      .nav .nav-menu ul.nav-menu-row li.nav-menu-item {
        width: 116px;
        height: 45px;
        float: left;
        text-align: center;
        line-height: 45px;
        color: #e1e1e1;
        font-weight: bolder;
        cursor: pointer; }
    .nav .nav-menu img {
      width: 100%;
      height: 100%; }
  .nav img.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.footer {
  width: 100%;
  height: 218px;
  background-color: #6b6b6b; }

.index-nav {
  width: 100%;
  height: 630px;
  background-color: #e2e2e2; }
  .index-nav .index-nav-block {
    width: 1000px;
    margin: auto;
    z-index: 10; }
  .index-nav img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.index-content {
  width: 1000px;
  margin: auto; }
  .index-content .index-content-three {
    width: 100%;
    height: 370px;
    padding-top: 70px; }
    .index-content .index-content-three .each-block {
      width: 308px;
      height: 245px;
      background-color: #e2e2e2;
      float: left;
      margin-right: 38px; }
      .index-content .index-content-three .each-block:nth-child(3) {
        margin-right: 0; }
  .index-content .index-about {
    width: 100%;
    height: 365px;
    line-height: 365px;
    background-color: #999999; }
    .index-content .index-about .index-about-btn-more {
      width: 145px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #E7E7E7;
      font-size: 18px;
      font-weight: bolder;
      background-color: #535353;
      position: absolute;
      left: 12px;
      bottom: 30px;
      z-index: 10; }
  .index-content .index-four {
    width: 100%;
    height: 275px; }
    .index-content .index-four .each-block {
      width: 25%;
      height: 100%;
      float: left;
      background-color: #e2e2e2;
      overflow: hidden; }
      .index-content .index-four .each-block img {
        width: 100%;
        height: 100%; }
      .index-content .index-four .each-block:nth-child(2n) {
        background-color: #d5d5d5; }
  .index-content .index-oral-advice {
    width: 100%;
    height: 134px;
    padding-right: 40px;
    line-height: 134px;
    background-color: #6b6b6b;
    color: #e5e5e5;
    font-size: 30px;
    font-weight: bolder;
    text-align: right; }
  .index-content .index-six {
    width: 100%; }
    .index-content .index-six .each-block {
      width: 326px;
      height: 275px;
      float: left;
      margin-top: 10px;
      margin-right: 11px;
      background-color: #999999; }
      .index-content .index-six .each-block:nth-child(3n) {
        margin-right: 0; }
  .index-content .index-more {
    width: 100%;
    height: 100px;
    padding-top: 22px; }
    .index-content .index-more .index-about-btn-more {
      width: 145px;
      height: 45px;
      margin: auto;
      line-height: 45px;
      text-align: center;
      color: #E7E7E7;
      font-size: 18px;
      font-weight: bolder;
      background-color: #535353;
      z-index: 10; }

.index-links {
  width: 100%;
  height: 162px;
  background-color: #e2e2e2; }
