@charset "utf-8";
.about-content {
  width: 100%;
  background-color: #F2F2F2;
  .about-time {
    width: $min-width;
    height: 780px;
    margin: auto;
    &:before {
      display: block;
      width: 2px;
      height: 700px;
      background-color: #3D8F9B;
      position: absolute;
      left: 50%;
      top: 40px;
      content: '';
    }
    .about-time-each {
      position: absolute;
      width: 480px;
      height: 100px;
      background-color: #3D8F9B;
      color: white;
      .time-box {
        position: absolute;
        top: -10px;
        width: 100px;
        height: 100px;
        background-color: #FFAA01;
        padding-top: 10px;
        text-align: center;
        @include BoxShadow(1px, 1px, 5px, #3E3D3D);
        .title {
          font-size: 32px;
        }
      }
      &.time-left {
        padding: 20px 140px 20px 20px;
        .time-box {
          right: 10px;
        }
      }
      &.time-right {
        padding: 20px 20px 20px 140px;
        .time-box {
          left: 10px;
        }
      }
      &.first {
        left: 0px;
        top: 50px;
      }
      &.second {
        right: 0;
        top: 190px;
      }
      &.third {
        left: 0;
        top: 330px;
      }
      &.fourth {
        right: 0;
        top: 490px;
      }
      &.fifth {
        left: 0;
        top: 630px;
      }
    }
  }
  .about-us {
    width: 100%;
    height: 365px;
    background-color: #C9C9C9;
    overflow: hidden;
    img.about-us-bg {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .about-us-content {
      width: $min-width;
      height: 100%;
      margin: auto;
      padding: 100px 450px 100px 0;
      color: white;
      .about-us-content-right {
        width: 360px;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        padding-top: 30px;
        .title {
          width: 200px;
          font-size: 30px;
          float: right;
          text-align: center;
        }
        .img {
          width: 355px;
          height: 190px;
          background-color: #7D7D7D;
          margin-top: 20px;
          border: 4px solid white;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .about-strength {
    width: $min-width;
    margin: auto;
    padding-bottom: 120px;
    .about-strength-title {
      width: 400px;
      margin: auto;
      padding: 90px 0;
      text-align: center;
      font-size: 24px;
      color: black;
      .title-big {
        font-weight: 600;
        font-size: 36px;
        &:after {
          display: block;
          width: 100px;
          height: 2px;
          background-color: black;
          content: '';
          position: absolute;
          left: 0;
          top: 26px;
        }
        &:before{
          display: block;
          width: 100px;
          height: 2px;
          background-color: black;
          content: '';
          position: absolute;
          right: 0;
          top: 26px;
        }
      }
    }
    .about-strength-each {
      width: 300px;
      height: 400px;
      float: left;
      margin-right: 50px;
      overflow: hidden;
      padding-top: 280px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      .about-strength-each-img {
        width: 100%;
        height: 256px;
        background-color: #C9C9C9;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      h3 {
        text-align: center;
      }
      p {
        height: 82px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
