@charset "utf-8";

.exchange-content{
  width: $min-width;
  margin: auto;
  padding: 45px 0 0 0;
  .exchange-each{
    width: 470px;
    margin-right: 60px;
    margin-bottom: 40px;
    float: left;
    &:nth-child(2n){
      margin-right: 0;
    }
    .exchange-each-item{
      width: 100%;
      height: 30px;
      line-height: 30px;
      padding: 0 5px 0 40px;
      margin-bottom: 16px;
      .exchange-each-item-icon{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #C9C9C9;
      }
      .exchange-each-item-time{
        float: right;
        text-align: right;
      }
    }
  }
}
.exchange-btn-next{
  width: 200px;
  height: 40px;
  margin: 0 auto 50px auto;
  line-height: 40px;
  text-align: center;
  color: #EAEAEA;
  background-color: #999999;
}