.nav
  img.bg(src="images/banner-back.png")
  .nav-logo
    .nav-logo-icon
      a(href="index.html")
        img(src="./images/logo.png" alt="恒和口腔-logo" title="恒和口腔")
    .nav-logo-search
      input(type="text" placeholder="搜索内容")
      .search-icon
        i.fa.fa-search
    .clear-fix
  .nav-menu
    ul.nav-menu-row
      li.nav-menu-item
        a(href="index.html") 首页
      li.nav-menu-item
        a(href="oral-advice.html") 口腔咨询
      li.nav-menu-item
        a(href="business-exchange.html") 行业交流
      li.nav-menu-item
        a(href="product-description.html") 产品介绍
      li.nav-menu-item
        a(href="oral-leading.html") 口腔前沿
      li.nav-menu-item
        a(href="about.html") 关于我们
      li.nav-menu-item
        a(href="contact.html") 联系我们